#container {
  width: 80%;
  margin: 0 auto;
}

/* 메인 상품 영역 */
.main_goods {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2 );
  border-radius: 5%;
}

/* Swiper */
.swiper {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px 0;
  box-sizing: border-box;
}

.swiper-slide {
  width: auto !important;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.product-item {
  width: 220px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  box-sizing: border-box;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ec0000;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: bold;
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.price-box {
  font-size: 14px;
}

.price-box del {
  color: #999;
  margin-right: 5px;
}

.price-box .price {
  font-weight: bold;
  color: #ec0000;
}

/* Swiper 버튼 */
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);	
  z-index: 10;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

/* 반응형 */
@media (max-width: 1200px) {
  .swiper-slide {
    width: calc(100% / 3.5) !important;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    width: calc(100% / 2.2) !important;
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 100% !important;
  }
}
