<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.CategoryMapper">
  
  <select id="selectAll" resultType="co.yedam.vo.CategoryVO">
    SELECT * FROM category ORDER BY category_code
  </select>

</mapper>
