<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.MemberMapper">
	<select id="selectMember" resultType="user">
		select user_id,
		password,
		user_name,
		phone,
		post,
		address1,
		address2,
		address3,
		email,
		mailage
		from user_info
		where user_id = #{id}
		and password = #{pw}
	</select>
	<!-- 아이디로 회원 조회 -->

	<select id="selectMemberId" resultType="user"
		parameterType="string">
		select *
		from user_info
		where user_id = #{id}
	</select>

	<!-- 회원가입시 DB전달 -->
	<insert id="insertMember" parameterType="user">
		INSERT INTO user_info (user_id, 
		                       password, 
		                       user_name, 
		                       phone, 
		                       post, 
		                       address1, 
		                       address2, 
		                       address3, 
		                       email,
		                       mailage)
		VALUES (#{userId}, 
		        #{password}, 
		        #{userName}, 
		        #{phone},
		        #{post},
		        #{address1}, 
		        #{address2}, 
		        #{address3},
		        #{email}, 
		        0)
	</insert>

	<!-- 비밀번호 변경 -->
	<update id="updatePasswd" parameterType="user">
		update user_info
		set password = #{password}
		where user_id = #{userId}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member WHERE user_id = #{userId}
	</delete>
 	
 	<update id="updateMemberMaile" parameterType="user">
 		update user_info
 		set    mailage = #{mailage}
 		where user_id = #{userId}
 	</update>
</mapper>