<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.OrderDetailMapper">

    <!-- 주문 상세 정보 삽입 -->
    <insert id="insertOrderDetail" parameterType="orderDetail">
        INSERT INTO order_detail (order_detail_no,
                                  od_no, 
                                  pd_code, 
                                  quantity)
        VALUES (seq_order_detail.nextval,
                #{odNo}, 
                #{pdCode}, 
                #{quantity})
    </insert>

    <!-- 주문 번호로 주문 상세 정보 조회 -->
    <select id="getOrderDetailsByOdNo"  parameterType="string" resultType="co.yedam.vo.OrderDetailVo">
        SELECT
	        od.od_no,
	        od.pd_code,
	        od.quantity,
	        p.pd_name,
	        p.pd_price,
	        p.pd_img  <!-- 상품 이미지 -->
	    FROM
	        order_detail od  <!-- order_detail 테이블에 별칭 od 부여 -->
	    JOIN
	        product p  <!-- product 테이블에 별칭 p 부여 -->
	    ON
	        od.pd_code = p.pd_code  <!-- 조인 조건: order_detail의 pd_code와 product의 pd_code가 일치 -->
	    WHERE
	        od.od_no = #{odNo}
    </select>

</mapper>
