<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.OrderDetailMapper">

    <!-- 주문 상세 정보 삽입 -->
    <insert id="insertOrderDetail" parameterType="orderDetail">
        INSERT INTO order_detail (order_detail_no,
                                  od_no, 
                                  pd_code, 
                                  quantity)
        VALUES (seq_order_detail.nextval,
                #{odNo}, 
                #{pdCode}, 
                #{quantity})
    </insert>

    <!-- 주문 번호로 주문 상세 정보 조회 -->
    <select id="getOrderDetailsByOdNo" resultType="co.yedam.vo.OrderDetailVo">
        SELECT order_detail_no,
               quantity,
               pd_code,
               od_no
               
        FROM order_detail
        WHERE od_no = #{odNo}
    </select>

</mapper>
