<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.OrderMapper">

    <!-- 주문 정보 삽입 -->
    <insert id="insertOrder" parameterType="order">
        INSERT INTO order_info (payment_uid, 
                            od_no,
                            od_status, 
                            od_price,
                            od_total,
                            use_mali, 
                            re_name, 
                            re_phone, 
                            re_addr, 
                            del_fee, 
                            user_id, 
                            od_date)
                            
        VALUES (#{paymentUid},
                #{odNo},
                #{odStatus}, 
                #{price},
                #{odTotal},
                #{useMali}, 
                #{reName}, 
                #{rePhone}, 
                #{reAddr}, 
                #{delFee}, 
                #{userId}, 
                sysdate)
    </insert>

</mapper>
