<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.ProductMapper">

	<select id="selectMessage" resultType="map">
	  select *
	  from     product_tbl
	  order by star_point desc
	</select>

	<select id="selectHint" parameterType="string">
	 	select *
	 	from   product_tbl
	 	where  prd_code = #{remainTimeStr}
	</select>

</mapper>