<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.ProductMapper">

	 <select id="searchAdvanced" resultType="co.yedam.vo.ProductVO">
     SELECT * 
     FROM PRODUCT P
     JOIN CATEGORY C ON P.CATEGORY_CODE = C.CATEGORY_CODE
     WHERE 1=1
     <if test="keyword != null and keyword != ''">
       AND P.PD_NAME LIKE '%' || #{keyword} || '%'
     </if>
     <if test="main != null and main != ''">
       AND C.CATEGORY_NAME = #{main}
     </if>
     <if test="sub != null and sub != ''">
       AND C.CATEGORY_CODE = #{sub}
     </if>
     <if test="minPrice != null and minPrice != ''">
       AND P.PD_PRICE &gt;= #{minPrice}
     </if>
     <if test="maxPrice != null and maxPrice != ''">
       AND P.PD_PRICE &lt;= #{maxPrice}
     </if>
   </select>
   
   <select id="selectProduct" resultType="co.yedam.vo.ProductVO">
     SELECT * FROM PRODUCT WHERE PD_CODE = #{code}
   </select>

   <select id="selectAllProduct" resultType="co.yedam.vo.ProductVO">
     SELECT *
     FROM PRODUCT
   </select>
   
   <!-- 카테고리별 상품 조회 -->
    <select id="selectCategory" parameterType="string" resultType="co.yedam.vo.ProductVO">
     SELECT *
     FROM   product
     WHERE  category_code LIKE CONCAT(#{categoryCode}, '%')
   </select>
   
   <!-- 카테고리별 top5 상품 조회 -->
   <select id="selectCategoryTop" parameterType="string" resultType="co.yedam.vo.ProductVO">
     SELECT *
     FROM (
         SELECT *
         FROM   product
         WHERE  product.category_code LIKE CONCAT(#{categoryCode}, '%')
         ORDER  BY pd_score DESC
       )
     <![CDATA[
     WHERE  ROWNUM <= 5
     ]]>
   </select>
   
   <!-- 카테고리별 worst5 상품 조회 -->
   <select id="selectCategoryWorst" parameterType="string" resultType="co.yedam.vo.ProductVO">
     SELECT *
     FROM (
         SELECT *
         FROM   product
         WHERE  product.category_code LIKE CONCAT(#{categoryCode}, '%')
         ORDER  BY pd_score ASC
       )
     <![CDATA[
     WHERE  ROWNUM <= 5
     ]]>
   </select>
   
   <select id="selectCategoryNewPd" parameterType="string" resultType="co.yedam.vo.ProductVO">
     SELECT pd_code,
       pd_name,
       manufacturer,
       pd_coo,
       material,
       pd_img,
       pd_mfd,
       pd_exp,
       pd_stock,
       pd_price,
       pd_score,
       category_code
     FROM (
          SELECT p.*, FLOOR(SYSDATE - p.pd_mfd) AS date_diff
          FROM product p
          WHERE    p.category_code LIKE CONCAT(#{categoryCode}, '%')
          ORDER BY date_diff ASC
         )
     <![CDATA[
     WHERE  ROWNUM <= 10
     ]]>
   </select>
<!-- 
	<select id="selectProduct" parameterType="string">
	 	select *
	 	from   product
	 	where  pd_code = #{pdCode}
	</select>
 -->

	<!-- 상품 재고 업데이트 -->
    <update id="updateStock" parameterType="product">
        UPDATE product
        SET    pd_stock = pd_stock + #{quantity}
        WHERE  pd_code  = #{pdCode}
    </update>
    
<!-- 리뷰별 상품 리스트 --> 
<select id="selectTopReviewProductList" resultType="co.yedam.vo.ProductVO">
    SELECT 
        p.*
    FROM 
        product p
    LEFT JOIN (
        SELECT 
            pd_code, COUNT(*) AS review_count
        FROM 
            review
        GROUP BY 
            pd_code
    ) r ON p.pd_code = r.pd_code
    ORDER BY 
        r.review_count DESC NULLS LAST
</select>

</mapper>