<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.WishlistMapper">

  <insert id="insert" parameterType="co.yedam.vo.WishlistVO">
     INSERT INTO list (user_id, pd_code, cnt)
     VALUES (#{userId}, #{pdCode}, 1)
  </insert>

  <delete id="delete" parameterType="co.yedam.vo.WishlistVO">
    DELETE FROM list
    WHERE user_id = #{userId} AND pd_code = #{pdCode}
  </delete>

  <select id="selectByUser" resultType="co.yedam.vo.WishlistVO">
   SELECT l.user_id, 
          l.pd_code,
         p.pd_name ,
         p.pd_img ,
         p.manufacturer,
         p.pd_price,
         l.cnt
   FROM list l
   JOIN product p ON l.pd_code = p.pd_code
   WHERE l.user_id = #{userId}
 </select>


  <select id="exists" parameterType="co.yedam.vo.WishlistVO" resultType="boolean">
    SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
    FROM list
    WHERE user_id = #{userId} AND pd_code = #{pdCode}
  </select>

  <insert id="insertOrUpdateCnt" parameterType="co.yedam.vo.WishlistVO">
   MERGE INTO list l
   USING (SELECT #{userId} AS user_id, #{pdCode} AS pd_code FROM dual) src
   ON (l.user_id = src.user_id AND l.pd_code = src.pd_code)
   WHEN MATCHED THEN
     UPDATE SET cnt = NVL(cnt, 0) + 1
   WHEN NOT MATCHED THEN
     INSERT (user_id, pd_code, cnt)
     VALUES (#{userId}, #{pdCode}, 1)
 </insert>


</mapper>
